<div>
    <div style="display: flex;justify-content: space-between">
        <div>
            <h1>{{driver_details.first_name}}</h1>
        </div>
  <div >
    <img style="border-radius: 50px;" [src]="driver_details.profile_image" >
  </div>
    </div>

    <div class="accodion-datatable">
        <table>
            <tr>
              <th>Staus</th>
              <th>Date</th>
              <th>Order ID</th>
              <th>Method</th>
              <th>Order Amt</th>
              <th>Meal</th>
              <th>Type</th>
              <th>Balance</th>
            </tr>
            <tr>
              <td>Pending</td>
              <td>30th July</td>
              <td>42323</td>
              <td>CASH</td>
              <td>200$</td>
              <td>234$</td>
              <td>Rest</td>
              <td>340$</td>
            </tr>
            <tr>
                <td>Pending</td>
                <td>30th July</td>
                <td>42323</td>
                <td>CASH</td>
                <td>200$</td>
                <td>234$</td>
                <td>Rest</td>
                <td>340$</td>
            </tr>
            <tr>
                <td>Pending</td>
                <td>30th July</td>
                <td>42323</td>
                <td>CASH</td>
                <td>200$</td>
                <td>234$</td>
                <td>Rest</td>
                <td>340$</td>
            </tr>
           
          </table>
      </div>
      <div style="display: flex;justify-content: space-between">
        <div>Total Amount: {{'210 $'}}</div>
        <div>Total Tips: {{'30 $'}}</div>
    </div>
</div>
