
<form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <!-- <div class="row">
                <div class='col-12 col-sm-12'>
                    <div class="form-group">
                        <label class="form-control-label" for="description">Description</label>  
                        <textarea rows="5" class="form-control form-control-line" [(ngModel)]="description" class="form-control input-md" #googleapikey="ngModel" required id="description" name="description"></textarea>
                        <input class="form-control input-md" #googleapikey="ngModel" required id="description" name="description" type="text"  [(ngModel)]="description">   
                    </div>
                </div>
            </div> -->

            <div class="text-center">
                <img src="/assets/images/truck.png" height="190"/>
            </div>
           
            <div class="form-group col-4 offset-4 mt-4">
                <label class="form-control-label" for="description">Description</label>  
                <textarea rows="" class="form-control form-control-line" class="form-control input-md" id="description" name="description"></textarea>

                <small class="text-muted formt-text">Helper Text:  Homemade tortillas, stuffed lime-marinated lengua, smothered in avocado and our famous melt your face salsa. </small><br>
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1 mt-3" (click)="cancel()"> Previous</button>
                <!-- <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next </button> -->
                <button uiSref="address" type="button" class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff;" (click)="save()"> Next </button>
            </div>
        </div>
    </div>
</form>



<!-- <form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_api_key">Google Api Key</label>  
                        <input class="form-control input-md" #googleapikey="ngModel" required id="google_api_key" name="google_api_key" type="text"  [(ngModel)]="google_api_key">   
                    </div>
                </div>
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_url">Google Sheet URL</label>  
                        <input class="form-control input-md" #googlesheeturl="ngModel" required id="google_sheet_url" name="google_sheet_url" type="text"  [(ngModel)]="google_sheet_url">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_tab_name">Google Api Key</label>  
                        <input class="form-control input-md" #googlsheettabname="ngModel" required id="google_sheet_tab_name" name="google_sheet_tab_name" type="text"  [(ngModel)]="google_sheet_tab_name">   
                    </div>
                </div>
            </div>
            <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()"> Previous</button>
                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next </button>
            </div>
        </div>
    </div>
</form> -->



<!-- <form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_api_key">Google Api Key</label>  
                        <input class="form-control input-md" #googleapikey="ngModel" required id="google_api_key" name="google_api_key" type="text"  [(ngModel)]="google_api_key">   
                        <small class="form-text text-muted danger" *ngIf="!google_api_key.valid && (google_api_key.dirty || google_api_key.touched)">This field is required!</small>
                    </div>
                </div>
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_url">Google Sheet URL</label>  
                        <input class="form-control input-md" #googlesheeturl="ngModel" required id="google_sheet_url" name="google_sheet_url" type="text"  [(ngModel)]="google_sheet_url">
                        <small class="form-text text-muted danger" *ngIf="!google_sheet_url.valid && (google_sheet_url.dirty || google_sheet_url.touched)">This field is required!</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_tab_name">Google Api Key</label>  
                        <input class="form-control input-md" #googlsheettabname="ngModel" required id="google_sheet_tab_name" name="google_sheet_tab_name" type="text"  [(ngModel)]="google_sheet_tab_name">   
                        <small class="form-text text-muted danger" *ngIf="!google_sheet_tab_name.valid && (google_sheet_tab_name.dirty || google_sheet_tab_name.touched)">This field is required!</small>
                    </div>
                </div>
            </div>
            <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()"> Previous</button>
                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next </button>
            </div>
        </div>
    </div>
</form> -->