<form #descriptionForm="ngForm" [formGroup]="descriptionFormData" (ngSubmit)="onSubmit()">
    <div>
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>

            <div class="text-center">
                <img src="/assets/images/dancing2.png" style="height: 290px;" />
            </div>
            <div class="form-group col-4 offset-4">
                <label class="form-control-label" for="description">Description</label>
                <textarea rows="" class="form-control form-control-line" formControlName="description"
                    class="form-control input-md" id="description" name="description" rows="6"
                    placeholder="Homemade tortillas, stuffed lime-marinated lengua, smothered in avocado and our famous melt your face salsa."></textarea>
                <div *ngIf="descriptionFormData.get('description').touched && descriptionFormData.get('description').invalid"
                    class="alert alert-danger">
                    <div *ngIf=" descriptionFormData.get('description').errors.required ">
                        Required
                    </div>
                </div>
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1 mt-3"
                    (click)="cancel()"> Previous</button>
                <button uiSref="address" type="submit" [disabled]="descriptionFormData.invalid"
                    class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff;"> Next </button>
            </div>
        </div>
    </div>
</form>