<h3 style="text-align: center"><b> Bank (Green Money)</b></h3>
<div *ngIf="dailyPayoutData">
  <!-- <p style="text-align: center;">Cash On Delivery</p> -->
  <div class="accodion-datatable">
    <!-- {{payout.data[0].unit_id}} -->
    <!-- <ngx-datatable class="material" #table [rows]="dailyPayoutData[i]" [columnMode]="'force'" -->
    <ngx-datatable
      class="material"
      #dailyPayoutBank
      [rows]="dailyPayoutData.data.bank"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="auto"
      [limit]="5"
      [scrollbarH]="true"
      (activate)="dailyPayoutonActivatebank($event)"
    >
      <!-- Row Detail Template -->

      <ngx-datatable-row-detail [rowHeight]="auto">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-row-detail-template
        >
          <div
            style="padding-left: 58px"
            *ngIf="row?.for_delivery; else takeout"
          >
            <h6 class="col-md-6 pl-0" style="font-size: 15px">
              Itemized Charges
            </h6>
            <div class="row">
              <div class="col-md-2">Instamarkt(10%)</div>
              <span>:</span>
              <div class="col-md-2">${{ row?.instaMarkt_commission }}</div>
            </div>
            <div class="row">
              <div class="col-md-2">Delivery Charge</div>
              <span>:</span>
              <div class="col-md-2">${{ row?.delivery_charge }}</div>
            </div>
            <div class="row">
              <div class="col-md-2">Tip</div>
              <span>:</span>
              <div class="col-md-2">${{ row?.tip_amount }}</div>
            </div>
            <div class="row">
              <div class="col-md-2">Bank Processing</div>
              <span>:</span>
              <div class="col-md-2" *ngIf="row.bank_processing">
                ${{ row?.bank_processing }}
              </div>
              <div class="col-md-2" *ngIf="!row.bank_processing">$0</div>
            </div>
            <div class="row">
              <div class="col-md-3 pl-0">
                <hr />
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-2">
                <b>Total Deductions</b>
              </div>
              <span>:</span>
              <div class="col-md-2">${{ row?.deduction }}</div>
            </div>
          </div>
          <ng-template #takeout>
            <div style="padding-left: 58px">
              <h6 class="col-md-2 pl-0">Itemized Charges</h6>
              <div class="row">
                <div class="col-md-2">Instamarkt(5%)</div>
                <span>:</span>
                <div class="col-md-2">
                  {{ row?.instaMarkt_commission }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">Tip</div>
                <span>:</span>
                <div class="col-md-2">${{ row?.tip_amount }}</div>
              </div>
              <div class="row">
                <div class="col-md-2">Bank Processing</div>
                <span>:</span>
                <div class="col-md-2" *ngIf="row.bank_processing">
                  ${{ row?.bank_processing }}
                </div>
                <div class="col-md-2" *ngIf="!row.bank_processing">$0</div>
              </div>
              <div class="row">
                <div class="col-md-3 pl-0">
                  <hr />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-2">
                  <b>Total Deductions</b>
                </div>
                <span>:</span>
                <div class="col-md-2">${{ row?.deduction }}</div>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column name="Status" [width]="158">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a
            style="background-color: #ef6e6e; color: #fff"
            class="order-status text-capitalize btn w-100 border-0"
            *ngIf="row?.order_detail?.status == 'complete'"
            >{{ row?.status }}</a
          >

          <a
            style="background-color: #ffbc34; color: #fff"
            class="order-status text-capitalize btn w-100 border-0"
            *ngIf="row?.order_detail?.status == 'processed'"
            >{{ row?.status }}</a
          >

          <a
            style="background-color: #22c6ab; color: #fff"
            class="order-status text-capitalize btn w-100 border-0"
            *ngIf="row?.order_detail?.status == 'new'"
            >{{ row?.status }}</a
          >

          <a
            style="background-color: #22c6ab; color: #fff"
            class="order-status text-capitalize btn w-100 border-0"
            *ngIf="row?.order_detail?.status == 'incomplete'"
            >{{ row?.status }}</a
          >
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Date" [width]="70">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.created_at | date: "MMM d" }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Order ID" [width]="62">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.id | custompipe: row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Driver" [width]="62">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.driver?.first_name }} {{ row?.driver?.last_name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Method" [width]="70">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <!-- {{row?.context}} -->
          <img src="assets/images/bank.png" alt="Icon" style="height: 36px" />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Order Amt" [width]="92">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p>${{ row?.total_order_amount }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Meal" [width]="60">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p>${{ row?.amount }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Type" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <img
            src="/assets/images/deliverySmall.png"
            class="img-responsive"
            *ngIf="row?.for_delivery; else takeoutimg"
          />
          <ng-template #takeoutimg>
            <img src="/assets/images/takeout.png" class="img-responsive" />
          </ng-template>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Deductions" [width]="92">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p>${{ row?.deduction }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Balance" [width]="92">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p>${{ row?.amount - row?.deduction | number: "1.2-2" }}</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="true"
      [frozenLeft]="true"
    >
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-cell-template
      >
        <a
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          class="expan-icon"
          id="{{ row.id }}"
          (click)="toggleExpandRowDailyout(row)"
        >
        </a>
      </ng-template>
    </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          ngx-datatable-footer-template
        >
          <!-- <button *ngIf="row?.order_detail?.status != 'processed'" type="button" class="btn btn-success ml-2 custom-button">Process Selected
            Orders</button> -->
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [visiblePagesCount]="currentVisible"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="false"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
  <h3 style="text-align: right">
    <strong>Total Due: ${{ dailyPayoutData?.data?.total_online }}</strong>
  </h3>
</div>

<!-- ----------------------------start -->
<div *ngIf="dailyPayoutData">
  <h3 style="text-align: center">
    <b> Cash on Delivery (COD) </b>
  </h3>
  <div class="accodion-datatable">
    <ngx-datatable
      class="material"
      #dailyPayoutCod
      [rows]="dailyPayoutData.data.cod"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="auto"
      [limit]="5"
      [scrollbarH]="true"
      (activate)="dailyPayoutonActivateCod($event)"
    >
      <!-- Row Detail Template -->

      <ngx-datatable-row-detail [rowHeight]="auto">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-row-detail-template
        >
          <div
            style="padding-left: 58px"
            *ngIf="row?.for_delivery; else takeout"
          >
            <h6 class="col-md-6 pl-0" style="font-size: 15px">
              Itemized Charges
            </h6>
            <div class="row">
              <div class="col-md-2">Instamarkt(10%)</div>
              <span>:</span>
              <div class="col-md-2">${{ row?.instaMarkt_commission }}</div>
            </div>
            <div class="row">
              <div class="col-md-2">Delivery Charge</div>
              <span>:</span>
              <div class="col-md-2">${{ row?.delivery_charge }}</div>
            </div>
            <div class="row">
              <div class="col-md-2">Tip</div>
              <span>:</span>
              <div class="col-md-2">${{ row?.tip_amount }}</div>
            </div>
            <div class="row">
              <div class="col-md-3 pl-0">
                <hr />
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-2">
                <b>Total Deductions</b>
              </div>
              <span>:</span>
              <div class="col-md-2">${{ row?.deduction }}</div>
            </div>
          </div>
          <ng-template #takeout>
            <div style="padding-left: 58px">
              <h6 class="col-md-2 pl-0">Itemized Charges</h6>
              <div class="row">
                <div class="col-md-2">Instamarkt(5%)</div>
                <span>:</span>
                <div class="col-md-2">
                  {{ row?.instaMarkt_commission }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">Tip</div>
                <span>:</span>
                <div class="col-md-2">${{ row?.tip_amount }}</div>
              </div>
              <div class="row">
                <div class="col-md-2">Bank Processing</div>
                <span>:</span>
                <div class="col-md-2" *ngIf="row.bank_processing">
                  ${{ row?.bank_processing }}
                </div>
                <div class="col-md-2" *ngIf="!row.bank_processing">$0</div>
              </div>
              <div class="row">
                <div class="col-md-3 pl-0">
                  <hr />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-2">
                  <b>Total Deductions</b>
                </div>
                <span>:</span>
                <div class="col-md-2">${{ row?.deduction }}</div>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ngx-datatable-row-detail>

      <!-- <ngx-datatable-column name="#" [width]="40">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="custom-control custom-checkbox" *ngIf="row?.status != 'Proccesed'">
            <input type="checkbox" class="custom-control-input" id="customCheck{{row.id}}"
              name="example1">
            <label class="custom-control-label" for="customCheck{{row.id}}"></label>
          </div>
        </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="Status" [width]="158">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a
            style="background-color: #ef6e6e; color: #fff"
            class="order-status text-capitalize btn w-100 border-0"
            *ngIf="row?.order_detail?.status == 'complete'"
            >{{ row?.status }}</a
          >

          <a
            style="background-color: #ffbc34; color: #fff"
            class="order-status text-capitalize btn w-100 border-0"
            *ngIf="row?.order_detail?.status == 'processed'"
            >{{ row?.status }}</a
          >

          <a
            style="background-color: #22c6ab; color: #fff"
            class="order-status text-capitalize btn w-100 border-0"
            *ngIf="row?.order_detail?.status == 'new'"
            >{{ row?.status }}</a
          >

          <a
            style="background-color: #22c6ab; color: #fff"
            class="order-status text-capitalize btn w-100 border-0"
            *ngIf="row?.order_detail?.status == 'incomplete'"
            >{{ row?.status }}</a
          >
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Date" [width]="70">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.created_at | date: "MMM d" }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Order ID" [width]="62">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.id | custompipe: row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Driver" [width]="62">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.driver?.first_name }} {{ row?.driver?.last_name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Method" [width]="70">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <!-- {{row?.context}} -->
          <img src="assets/images/cash.png" alt="Icon" style="height: 36px" />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Order Amt" [width]="92">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p>${{ row?.total_order_amount }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Meal" [width]="60">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p>${{ row?.amount }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Type" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <img
            src="/assets/images/deliverySmall.png"
            class="img-responsive"
            *ngIf="row?.for_delivery; else takeoutimg"
          />
          <ng-template #takeoutimg>
            <img src="/assets/images/takeout.png" class="img-responsive" />
          </ng-template>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Deductions" [width]="92">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p>${{ row?.deduction }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Balance" [width]="92">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p>${{ row?.amount - row?.deduction | number: "1.2-2" }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="true"
        [frozenLeft]="true"
      >
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template
        >
          <a
            href="javascript:void(0)"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row"
            class="expan-icon"
            id="{{ row.id }}"
            (click)="toggleExpandRowDailyCod(row)"
          >
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          ngx-datatable-footer-template
        >
          <!-- <button type="button" class="btn btn-success ml-2 custom-button">Process Selected
            Orders</button> -->
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [visiblePagesCount]="currentVisible"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="false"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
    <h3 style="text-align: right">
      <strong>Total Ownes : ${{ dailyPayoutData?.data?.total_cod }}</strong>
    </h3>
  </div>
</div>
<!-- ---------------end -->

<h2 class="text-center" *ngIf="dailyPayoutData">
  <strong> Payout: ${{ dailyPayoutData.payout }} </strong>
</h2>
