<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>Account</ng-template>
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
    </ng-template>
  </ngb-tab>
    <ngb-tab title="Registration Wizard">
      <ng-template ngbTabContent>
        <section id="ngx" class="mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <div class="board">
                            <!-- Navigation Area (Circular Tabs) -->
                            <msw-navbar></msw-navbar>
                            <!-- End Navigation Area (Circular Tabs) -->
        
                            <!-- Content Area -->
                            <div class="tab-content">
                                <!-- Nested view  -->
                                <router-outlet> </router-outlet>
        
                            </div>
                            <!-- End Content Area -->
                        </div>
                        <!-- For Debugging: show our valid formData -->
                    </div>
                </div>
            </div>        
        </section>
      </ng-template>
    </ngb-tab>
    
    
  </ngb-tabset>


