<ngb-tabset [activeId]="checkingId">
  <ngb-tab id="account" >
    <ng-template ngbTabTitle>Account</ng-template>
    <ng-template ngbTabContent>

      <div class="text-center mt-4" style="font-size: 17px;font-weight: 500;">
        <p>Account Profile</p>
      </div>

          <div class="row">
            <div class='col-12 col-sm-4 offset-4'>
              <div class="form-group">
                <label class="form-control-label" for="firstname">First Name</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn mr-0 btn-info" type="button" style="background: #34a6bf;color:#fff;">
                      <i class=" icon-User"></i>
                    </button>
                  </div>
                  <!-- <input class="form-control input-md" #firstname="ngModel" required id="firstname" name="firstname"
                    type="text" [(ngModel)]="personal.first_name"> -->
                    <input class="form-control input-md" value="{{firstName}}" readonly>
                </div>
                <!-- <small class="form-text text-muted danger"
                  *ngIf="!firstname.valid && (firstname.dirty || firstname.touched)">This field is
                  required!</small> -->
              </div>
            </div>
          </div> 
          <div class="row"> 
            <div class='col-12 col-sm-4 offset-4'>
              <div class="form-group">
                <label class="form-control-label" for="lastname">Last Name</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn mr-0 btn-info" type="button" style="background: #34a6bf;color:#fff;">
                      <i class=" icon-User"></i>
                    </button>
                  </div>
                  <!-- <input class="form-control input-md" #lastname="ngModel" required id="lastname" name="lastname"
                    type="text" [(ngModel)]="personal.last_name"> -->
                    <input class="form-control input-md" value="{{lastName}}" readonly/>
                </div>
                <!-- <small class="form-text text-muted danger"
                  *ngIf="!lastname.valid && (lastname.dirty || lastname.touched)">This field is
                  required!</small> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class='col-12 col-sm-4 offset-4'>
              <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn mr-0 btn-info" type="button" style="background: #34a6bf;color:#fff;">
                      <i class="icon-Email"></i>
                    </button>
                  </div>
                  <!-- <input class="form-control input-md" #email="ngModel" required email id="email" name="email"
                    type="text" [(ngModel)]="personal.email"> -->
                    <input class="form-control input-md" value="{{userName}}" readonly>
                </div>
                <!-- <small class="form-text text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">Please enter
                  a valid
                  email!</small> -->
              </div>
            </div>
          </div> 
          <div class="row"> 
            <div class='col-12 col-sm-4 offset-4'>
              <div class="form-group">
                <label class="form-control-label" for="password">Change Password</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn mr-0 btn-info" type="button" style="background: #34a6bf;color:#fff;">
                      <!-- <i class="icon-Password-shopping"></i> -->
                      <img src="assets/images/padlock.png" width="16" height="16">
                    </button>
                  </div>
                  <!-- <input class="form-control input-md" #password="ngModel" required id="password" name="password"
                    type="password" [(ngModel)]="personal.password"> -->
                    <input class="form-control input-md">
                </div>
                <!-- <small class="form-text text-muted danger"
                  *ngIf="!password.valid && (password.dirty || password.touched)">This field is
                  required!</small> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4 offset-4 text-center">
              <button type="button" type="button" class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff;">Save</button>
            </div>
          </div>
          <p class="text-center mt-4" style="font-weight:500; font-size:17px;">Owner Login Authorization</p><br>
      <div class="d-flex justify-content-center"*ngFor="let hub of deliveryHub;let i = index;">
        <div class="mr-3" style="width: 100px;font-weight:500;" *ngIf="i==0">Delivery Hubs:</div>
        <div class="mr-3" style="width: 100px;font-weight:500;"*ngIf="i!=0"></div>
          <div class="mr-3" style="width: 145px;">{{hub.name}}</div>
          <div class="">
            <label class="switch" *ngIf="activeHub==hub.food_park_id">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
       
          </div>
          <div class="">
            <label class="switch" *ngIf="!activeHub ||activeHub!=hub.food_park_id">
              <input type="checkbox" (click)="updateCompanyForHub(hub.food_park_id)" >
              <span class="slider round"></span>
            </label>
          </div>
         
      
        
      </div>
      <br>
      <div class="d-flex justify-content-center" *ngFor="let loc of locations2;let i = index;">
        <div class="mr-3" style="width: 100px; font-weight:500;"*ngIf="i==0">Locations:</div>
        <div class="mr-3" style="width: 100px; font-weight:500;"*ngIf="i!=0"></div>

        <div class="mr-3" style="width: 145px;">{{loc.unit_name}}
          <!-- <div class="text-muted" style="font-size:12px;">(Chop Sister Hub)</div> -->
        </div>
        <div class="" *ngIf="!activeHub&&activeLocation==loc.unit_id">
          <label class="switch">
            <input type="checkbox"checked>
            <span class="slider round"></span>
          </label>
        </div>
        <div class=""*ngIf="activeHub||!activeLocation||activeLocation!=loc.unit_id">
          <label class="switch">
            <input type="checkbox" (click)="updateCompanyForUnit(loc.unit_id)">
            <span class="slider round"></span>
          </label>
        </div>
      </div>

        
    </ng-template>
  </ngb-tab>
   
  
  <ngb-tab title="Registration Wizard" id="register">
    <ng-template ngbTabContent>
      <section id="ngx" class="mt-3">
        <div class="card">
          <div class="card-body">
            <div class="card-block">
              <div class="board">
                <!-- Navigation Area (Circular Tabs) -->
                <msw-navbar></msw-navbar>
                <!-- End Navigation Area (Circular Tabs) -->

                <!-- Content Area -->
                <div class="tab-content">
                  <!-- Nested view  -->
                  <router-outlet> </router-outlet>

                </div>
                <!-- <div bool= true></div> -->
                <!-- End Content Area -->
              </div>
              <!-- For Debugging: show our valid formData -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>
  </ngb-tab>
  <!-- </div> -->
  
  <ngb-tab  id="merchant">
      <ng-template ngbTabTitle>Merchant</ng-template>
      <ng-template ngbTabContent>

          <div class="text-center mt-4" style="font-size: 17px;font-weight: 500;">
              <p>
               
              </p>
            </div>
            <iframe [src]="iframeUrl" border="0" style="width:100%;height: 1610px;margin: 0;border: 0;;">
              <html>
                <body>
                  Please wait while loading..
                </body>
              </html>
            </iframe>

            <form *ngIf="false" #myForm="ngForm" [formGroup]="MerchantForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                  <label for="type" class="col-sm-2 col-form-label">Type of Company</label>
                  <div class="col-sm-5">
                      <select class="form-control" formControlName="type" >
                        <option value="none" selected hidden>  </option> 
                          <option *ngFor="let item of data" value="{{item}}">{{item}}</option>
                        </select>
                        <div *ngIf="MerchantForm.get('type').touched && MerchantForm.get('type').invalid" class="alert alert-danger">
                          <div  *ngIf=" MerchantForm.get('type').errors.required ">
                            Company type is required
                        </div>
                       </div>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="tax_id" class="col-sm-2 col-form-label">Tax ID</label>
                    <div class="col-sm-5">                        
                        <!-- <input class="form-control input-md" formControlName="tax_id" placeholder="XX-XXXXXXX">  -->
                        <input type="text" [textMask]="mask" formControlName="tax_id"  placeholder="XX-XXXXXXX">
                        <div *ngIf="MerchantForm.get('tax_id').touched && MerchantForm.get('tax_id').invalid" class="alert alert-danger">
                          <div  *ngIf=" MerchantForm.get('tax_id').errors.required ">
                            Tax_id is required
                        </div>
                          <div  *ngIf=" MerchantForm.get('tax_id').errors.pattern ">
                              Please follow the pattern: XX-XXXXXXX (9 digits) only numbers are allowed
                          </div>
                       </div>
                    </div>
                    
                  </div>
                  <div class="form-group row">
                      <label for="ssn" class="col-sm-2 col-form-label">SSN of Principal</label>
                      <div class="col-sm-5">
                          <input class="form-control input-md" placeholder="AAA-GG-SSSSS" formControlName="ssn" > 
                          <div *ngIf="MerchantForm.get('ssn').touched && MerchantForm.get('ssn').invalid" class="alert alert-danger">
                            <div  *ngIf=" MerchantForm.get('ssn').errors.required ">
                              This field is required
                          </div>
                            <div  *ngIf=" MerchantForm.get('ssn').errors.pattern ">
                                Please follow the pattern: AAA-GG-SSSS (9digits) only numbers are allowed
                            </div>
                         </div>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="buissness_address" class="col-sm-2 col-form-label">Buissness Address</label>
     
                        <div class="form-group row">
                            <!-- <label for="country" class="col-sm-2 col-form-label">Country</label>
                            <div class="col-sm-8">
                                <input class="form-control input-md" formControlName="country" placeholder="Ex: UK,US"> 
                            </div> -->
                            <label for="country" class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-6">
                                <input class="form-control input-md" formControlName="country" placeholder="Ex: UK,US"> 
                                <div *ngIf="MerchantForm.get('country').touched && MerchantForm.get('country').invalid" class="alert alert-danger">
                                  <div  *ngIf=" MerchantForm.get('country').errors.required ">
                                    Required
                                </div>
                               </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="state" class="col-sm-2 col-form-label">State</label>
                            <div class="col-sm-6">
                                <input class="form-control input-md" formControlName="state" placeholder="Ex: OR, CA"> 
                                <!-- <div *ngIf="MerchantForm.get('state').touched && MerchantForm.get('state').invalid" class="alert alert-danger">
                                  <div  *ngIf=" MerchantForm.get('state').errors.required ">
                                    Required
                                </div>
                               </div> -->
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="street" class="col-sm-2 col-form-label"></label>
                          <div class="form-group row">
                            <label for="street" class="col-sm-3 col-form-label">Street</label>
                            <div class="col-sm-8">
                                <input class="form-control input-md" formControlName="street" placeholder="Ex: 1234 Some Street"> 
                                <div *ngIf="MerchantForm.get('street').touched && MerchantForm.get('street').invalid" class="alert alert-danger">
                                  <div  *ngIf=" MerchantForm.get('street').errors.required ">
                                    Required
                                </div>
                               </div>
                              </div>
                          </div>
                          <div class="form-group row">
                            <label for="city" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-6">
                                <input class="form-control input-md" formControlName="city" placeholder="Ex: Atlanta"> 
                                <div *ngIf="MerchantForm.get('city').touched && MerchantForm.get('city').invalid" class="alert alert-danger">
                                  <div  *ngIf=" MerchantForm.get('city').errors.required ">
                                    Required
                                </div>
                               </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="zip" class="col-sm-2 col-form-label">Zip</label>
                            <div class="col-sm-6">
                                <input class="form-control input-md" formControlName="zip" placeholder="Ex: 97756"> 
                                <div *ngIf="MerchantForm.get('zip').touched && MerchantForm.get('zip').invalid" class="alert alert-danger">
                                  <div  *ngIf=" MerchantForm.get('zip').errors.required ">
                                    Required
                                </div>
                               </div>
                            </div>
                          </div>
                        </div> 
                          <div class="col-sm-5">  
                      </div>
                    <div class="form-group row">
                        <label for="account_no" class="col-sm-2 col-form-label">Account Number</label>
                        <div class="col-sm-5">
                            <input class="form-control input-md" formControlName="account_no"> 
                            <div *ngIf="MerchantForm.get('account_no').touched && MerchantForm.get('account_no').invalid" class="alert alert-danger">
                              <div  *ngIf=" MerchantForm.get('account_no').errors.required ">
                               Account Number is Required
                            </div>
                           </div>
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="routing_no" class="col-sm-2 col-form-label">Routing Number  </label>
                          <div class="col-sm-5">
                              <input class="form-control input-md" formControlName="routing_no"> 
                              <div *ngIf="MerchantForm.get('routing_no').touched && MerchantForm.get('routing_no').invalid" class="alert alert-danger">
                                <div  *ngIf=" MerchantForm.get('routing_no').errors.required ">
                                  Routing Number is Required
                              </div>
                             </div>
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="Phone" class="col-sm-2 col-form-label">Cell Phone</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-md" formControlName="Phone"> 
                                <div *ngIf="MerchantForm.get('Phone').touched && MerchantForm.get('Phone').invalid" class="alert alert-danger">
                                  <div  *ngIf=" MerchantForm.get('Phone').errors.required ">
                                   Cell phone number is required
                                </div>
                                  <div  *ngIf=" MerchantForm.get('Phone').errors.pattern ">
                                      Please follow the pattern: ###-###-#### or ########## (10 digits)
                                  </div>
                               </div>
                            </div>
                          </div>
                          <div class="form-group row">
                              <label for="years" class="col-sm-2 col-form-label">Years Active </label>
                              <div class="col-sm-5">
                            <input type="text" formControlName="years" (change)="ageCalculator($event)" required placeholder="Ex: 2021,2022,etc">
                            <div *ngIf="MerchantForm.get('years').touched && MerchantForm.get('years').invalid" class="alert alert-danger">
                                    <div  *ngIf=" MerchantForm.get('years').errors.required ">
                                      Years active is required
                                  </div>
                                    <div  *ngIf=" MerchantForm.get('years').errors.pattern ">
                                        Please follow the pattern: 2020, 2021, etc.
                                    </div>
                                 </div>
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_no" class="col-sm-2 col-form-label">Identification Verification </label>
                                <div class="col-sm-5">
                                  <!-- <div class='col-sm-2'> -->
                                    <div class="form-group">
                                        <!-- <label class="form-control-label" for="selfimage">Selfie Image</label>  
                                        <ngx-dropzone (change)="onSelect($event)">
                                            <ngx-dropzone-label >Click here to Upload!</ngx-dropzone-label>
                                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                            </ngx-dropzone-preview>
                                        </ngx-dropzone> -->
                                            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                                              <ngx-dropzone-label>
                                                  <div id="logo_text">
                                                      <h3>Click here to Upload your photograph!</h3>
                                                    </div>
                                              </ngx-dropzone-label>
                                              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                              </ngx-dropzone-image-preview>
                                            </div>
                                    </div>   
                                <!-- </div> -->
                                </div>
                                <div class='col-sm-5'>
                                  <div class="form-group">
                                      <!-- <label class="form-control-label" for="drivlicen">Driving License</label>  
                                      <ngx-dropzone (change)="onSelectfeathured($event)">
                                          <ngx-dropzone-label>Click here to Upload!</ngx-dropzone-label>
                                          <ngx-dropzone-preview *ngFor="let f of feathuredfiles" [removable]="true" (removed)="onRemovefeathured(f)">
                                              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                          </ngx-dropzone-preview>
                                      </ngx-dropzone> -->
                                          <div class="custom-dropzone" id="idProofBox" ngx-dropzone [accept]="'image/*'" (change)="onSelectfeathured($event)">
                                            <ngx-dropzone-label>
                                                <div id="logo_text">
                                                    <h3>Click here to Upload your Driving License or Passport!</h3>
                                                  </div>
                                            </ngx-dropzone-label>
                                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of feathuredfiles" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                            </ngx-dropzone-image-preview>
                                          </div>
                                     </div>
                                  </div>   
                              </div>
                              <div class="row">
                                <div class="col-12 col-sm-4 offset-4 text-center">
                                  <button type="submit" class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff; position: relative; left: 140px;">Save</button>
                                </div>
                              </div>
              </form>    
      </ng-template>
  </ngb-tab> 
</ngb-tabset>

 

 


