<form #workForm="ngForm" [formGroup]="workFormData" (ngSubmit)="onSubmit()">
    <div>
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <div class="text-center">
                <img src="/assets/images/type.png" style="height: 280px;" />
            </div>

            <div class="form-group col-4 offset-4 mt-4">
                <label for="type"></label>
                <mat-form-field>
                    <mat-label>Select type</mat-label>
                    <mat-select matNativeControl required formControlName="type">
                        <mat-option value="RESTAURANT">RESTAURANT <img src="/assets/images/icon-500-restaurant.png"
                                style="width: 20px;margin-left: 10px"></mat-option>
                        <mat-option value="CAFE">CAFÉ <img src="/assets/images/icon-500-cafe.png"
                                style="width: 20px;margin-left: 10px"></mat-option>
                        <mat-option value="BEER">BEER <img src="/assets/images/icon-500-beer.png"
                                style="width: 20px;margin-left: 10px"></mat-option>
                        <mat-option value="WINE">WINE <img src="/assets/images/icon-500-wine.png"
                                style="width: 20px;margin-left: 10px"></mat-option>
                        <mat-option value="TRUCK">FOOD TRUCK <img src="/assets/images/icon-500-food-truck.png"
                                style="width: 20px;margin-left: 10px"></mat-option>
                        <mat-option value="PIZZA">PIZZA <img src="/assets/images/pizza.svg"
                                style="width: 20px;margin-left: 10px"></mat-option>
                        <mat-option value="FARMERS">FARMER <img src="/assets/images/farmer.png"
                                style="width: 20px;margin-left: 10px"></mat-option>
                        <mat-option value="CHEF">CHEF <img src="/assets/images/chef.png"
                                style="width: 20px;margin-left: 10px"></mat-option>
                        <mat-option value="GHOST_KITCHEN">GHOST KITCHEN <img src="/assets/images/Ghost-Kitchen.png"
                                style="width: 20px;margin-left: 10px"></mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="workFormData.get('type').touched && workFormData.get('type').invalid"
                    class="alert alert-danger">
                    <div *ngIf=" workFormData.get('type').errors.required ">
                        Type is Required
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1 mt-3"
                    (click)="cancel()"> Previous</button>
                <button uiSref="address" type="submit" class="btn btn-raised btn-info mt-3"
                    style="background: #34a6bf;color:#fff;"> Next </button>
            </div>
        </div>
    </div>
</form>