
<form #workForm="ngForm" [formGroup]="workFormData" (ngSubmit)="onSubmit()">
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            
            <div class="text-center">
                <img src="/assets/images/type.png" style="height: 280px;"/>
            </div>
           
            <div class="form-group col-4 offset-4 mt-4">
                <label for="workType">Select Type</label>
                <!-- <select class="form-control" id="exampleFormControlSelect1">
                    <option>RESTAURANT</option>
                    <option>CAFÉ</option>
                    <option>BEER</option>
                    <option>WINE</option>
                    <option>FOOD TRUCK</option>
                    <option>PIZZA</option>
                    <option>FARMER</option>
                    <option>CHEF</option>
                    <option>GHOST KITCHEN</option>
                </select> -->
                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select matNativeControl required formControlName="workType">
                      <mat-option value="restaurant">RESTAURANT <img src="../../../../assets/images/icon-500-bar-restaurant.png"></mat-option>
                      <mat-option value="cafe">CAFÉ <img src="../../../../assets/images/icon-500-cafe.png"></mat-option>
                      <mat-option value="beer">BEER <img src="../../../../assets/images/icon-500-beer.png"></mat-option>
                      <mat-option value="wine">WINE <img src="../../../../assets/images/icon-500-wine.png"></mat-option>
                      <mat-option value="food_truck">FOOD TRUCK <img src="../../../../assets/images/icon-500-food-truck.png"></mat-option>
                      <mat-option value="pizza">PIZZA <img src="../../../../assets/images/icon"></mat-option>
                      <mat-option value="farmer">FARMER <img src="../assets/img/google-drive@1x.png"></mat-option>
                      <mat-option value="chef">CHEF <img src="../../../../assets/images/pizza.svg"></mat-option>
                      <mat-option value="ghost_kitchen">GHOST KITCHEN <img src="../../../../assets/images/Ghost-Kitchen.png"></mat-option>
  
                    </mat-select>
                  </mat-form-field>
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1 mt-3" (click)="cancel()"> Previous</button>
                <!-- <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next </button> -->

                <button uiSref="address" type="submit" class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff;" > Next </button>

            </div>
        </div>
    </div>
</form>



<!-- <form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_api_key">Google Api Key</label>  
                        <input class="form-control input-md" #googleapikey="ngModel" required id="google_api_key" name="google_api_key" type="text"  [(ngModel)]="google_api_key">   
                    </div>
                </div>
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_url">Google Sheet URL</label>  
                        <input class="form-control input-md" #googlesheeturl="ngModel" required id="google_sheet_url" name="google_sheet_url" type="text"  [(ngModel)]="google_sheet_url">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_tab_name">Google Api Key</label>  
                        <input class="form-control input-md" #googlsheettabname="ngModel" required id="google_sheet_tab_name" name="google_sheet_tab_name" type="text"  [(ngModel)]="google_sheet_tab_name">   
                    </div>
                </div>
            </div>
            <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()"> Previous</button>
                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next </button>
            </div>
        </div>
    </div>
</form> -->



<!-- <form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_api_key">Google Api Key</label>  
                        <input class="form-control input-md" #googleapikey="ngModel" required id="google_api_key" name="google_api_key" type="text"  [(ngModel)]="google_api_key">   
                        <small class="form-text text-muted danger" *ngIf="!google_api_key.valid && (google_api_key.dirty || google_api_key.touched)">This field is required!</small>
                    </div>
                </div>
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_url">Google Sheet URL</label>  
                        <input class="form-control input-md" #googlesheeturl="ngModel" required id="google_sheet_url" name="google_sheet_url" type="text"  [(ngModel)]="google_sheet_url">
                        <small class="form-text text-muted danger" *ngIf="!google_sheet_url.valid && (google_sheet_url.dirty || google_sheet_url.touched)">This field is required!</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_tab_name">Google Api Key</label>  
                        <input class="form-control input-md" #googlsheettabname="ngModel" required id="google_sheet_tab_name" name="google_sheet_tab_name" type="text"  [(ngModel)]="google_sheet_tab_name">   
                        <small class="form-text text-muted danger" *ngIf="!google_sheet_tab_name.valid && (google_sheet_tab_name.dirty || google_sheet_tab_name.touched)">This field is required!</small>
                    </div>
                </div>
            </div>
            <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()"> Previous</button>
                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next </button>
            </div>
        </div>
    </div>
</form> -->