<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <ngb-tabset>
      <ngb-tab title="Orders / Daily Payouts">
        <ng-template ngbTabContent>
          <div class="card-header">
            <form class="mb-3">
              <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3">
                  <label class="mb-3">Filter By:</label>
                </div>
                <div class="col-xl-6 col-lg-4">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Delivery Address, Order # or Customer Name"
                    (keyup)="filterDatatable($event)"
                  />
                </div>
                <div class="col-xl-6 col-lg-2">
                  <input
                    type="date"
                    style="height: 32px; color: #24c6ab"
                    [(ngModel)]="datecuurent"
                    (change)="datePick($event)"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="col-xl-2 col-lg-2"></div>
            </form>
          </div>
          <div class="card-body tab-button">
            <ngb-tabset (tabChange)="changeOrderTab($event)">
              <ngb-tab title="Orders" [id]="1">
                <ng-template ngbTabContent>
                  <app-order-tab
                    [dateChange]="dataChage.asObservable()"
                    [datecuurent]="datecuurent"
                  ></app-order-tab>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Daily Payouts" [id]="2">
                <ng-template ngbTabContent>
                  <div class="card-body">
                    <div *ngFor="let payout of dailyPayoutData; let i = index">
                      <app-daily-payout-order
                        [dailyPayoutData]="payout"
                      ></app-daily-payout-order>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Weekly Reconciliation / Drivers">
        <ng-template ngbTabContent>
          <div class="card-header">
            <form class="mb-3">
              <div class="row align-items-center justify-content-center">
                <div class="row col col-auto">
                  <div
                    class="text-right"
                    style="font-weight: 500; padding-left: 10px"
                  >
                    <button
                      type="button"
                      class="btn"
                      style="border-radius: 50%"
                      (click)="goBackWeek()"
                    >
                      &#8249;
                    </button>
                    &nbsp; Week Of :
                  </div>
                  <div>
                    {{ weeklyDate | date }} -
                    {{ weeklyDateSeven | date }} &nbsp;
                    <button
                      class="col-md-3 pl-0"
                      type="button"
                      class="btn"
                      style="border-radius: 50%"
                      (click)="goFrontWeek()"
                    >
                      &#8250;
                    </button>
                  </div>
                </div>
                <div class="text-center col col-auto ml-1">
                  <mat-form-field appearance="fill">
                    <label>Select Hub</label>
                    <mat-select
                      name="hub"
                      [(ngModel)]="selectedHub"
                      (selectionChange)="selectHub(selectedHub)"
                      placeholder="Select Master"
                    >
                      <mat-option
                        *ngFor="let hub of hubs"
                        [value]="hub.food_park_id"
                        >{{ hub.data[0].name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body tab-button">
            <ngb-tabset (tabChange)="changeOrderTab($event)">
              <ngb-tab title="Weekly Reconciliation" [id]="1">
                <ng-template ngbTabContent>
                  <app-weekly-recon-tab
                    [weeklyDate]="weeklyDate"
                    [weeklyDateSeven]="weeklyDateSeven"
                    [weekChange]="weekChange.asObservable()"
                    [hubChange]="hubChange.asObservable()"
                    [selectedHub]="selectedHub"
                  ></app-weekly-recon-tab>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Drivers" [id]="2">
                <ng-template ngbTabContent>
                  <app-driver-tab
                    [weeklyDate]="weeklyDate"
                    [weeklyDateSeven]="weeklyDateSeven"
                    [weekChange]="weekChange.asObservable()"
                    [hubChange]="hubChange.asObservable()"
                    [selectedHub]="selectedHub"
                  ></app-driver-tab>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<ng-template #subsidy let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Subsidy Calculation</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      id="closeModal"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 text-right pr-1">
        <b>Total Wages (All Drivers)</b><span>:</span>
      </div>
      <div class="col-md-3 pl-0">{{ subsidyTotalDeliveryWages }}</div>
      <!-- <span><strong>Total delivery wages:</strong> </span><span>{{subsidyTotalDeliveryWages}}</span> -->
    </div>
    <div class="row">
      <div class="col-md-6 text-right pr-1">
        <b>({{ subsidyUnitName }}) Deliveries</b><span>:</span>
      </div>
      <div class="col-md-3 pl-0">{{ subsidyUnitsOrder }}</div>
      <!-- <span><strong>Total delivery wages:</strong> </span><span>{{subsidyTotalDeliveryWages}}</span> -->
    </div>
    <div class="row">
      <div class="col-md-6 text-right pr-1">
        <b>Total ({{ commasUnitName }}) Deliveries</b><span>:</span>
      </div>
      <div class="col-md-3 pl-0">{{ subsidyTotalDeliveryCount }}</div>
      <!-- <span><strong>Total delivery wages:</strong> </span><span>{{subsidyTotalDeliveryWages}}</span> -->
    </div>

    <div class="row">
      <div class="col-md-6 text-right pr-1">
        <b>Subsidy calculate</b><span>:</span>
      </div>
      <div class="col-md-6 pl-0">
        {{ subsidyTotalDeliveryWages }} * ({{ subsidyUnitsOrder }} /
        {{ subsidyTotalDeliveryCount }}) =
        {{
          (subsidyTotalDeliveryWages * subsidyUnitsOrder) /
            subsidyTotalDeliveryCount
        }}
      </div>
      <!-- <span><strong>Total delivery wages:</strong> </span><span>{{subsidyTotalDeliveryWages}}</span> -->
    </div>
  </div>
  <div class="modal-footer" style="border-top: 0"></div>
</ng-template>
