<!-- Address Tab form Starts -->
<form #addressForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane active">
        <h4 class="head text-center">{{title}}</h4>
        <br/>

        <div class='row'>
            <div class='col-sm-12'>
                <div class="form-group">
                    <label class="form-control-label" for="street">Business Address</label>  
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn mr-0 btn-info" type="button">
                                <i class="icon-Address-Book"></i>
                            </button>
                        </div>
                    <input class="form-control input-md" #street="ngModel" required id="street" name="street" type="text"  [(ngModel)]="business_address">
                    </div>
                    <small class="form-text text-muted danger" *ngIf="!street.valid && (street.dirty || street.touched)">This field is required!</small>
                    
                </div>   
                <!-- <div class="row">
                    <div class='col-12 col-sm-4'>
                        <div class="form-group">
                            <label class="form-control-label" for="street">street</label>  
                            <input class="form-control input-md" #street="ngModel" required id="street" name="street" type="text"  [(ngModel)]="city">
                            <small class="form-text text-muted danger" *ngIf="!street.valid && (street.dirty || street.touched)">This field is required!</small>
                            
                        </div>
                    </div>
                    <div class='col-4 col-sm-offset-1 col-sm-3'>
                        <div class="form-group">
                            <label class="form-control-label" for="street">State</label>  
                            <input class="form-control input-md" #street="ngModel" required id="street" name="street" type="text"  [(ngModel)]="state">
                            <small class="form-text text-muted danger" *ngIf="!street.valid && (street.dirty || street.touched)">This field is required!</small>
                            
                        </div>
                    </div>
                    
                </div> -->

                <div class="form-group text-center">
                    <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()">Previous</button>
                    <button uiSref="result" type="button" class="btn btn-raised btn-info" [disabled]="!addressForm.valid" (click)="save(addressForm)"> Next </button>
                </div>
            </div>
        </div>
    
    </div>
</form>
<!-- Address Tab form Ends -->