<!-- Personal Tab Form Starts -->
<!-- class="editForm" novalidate -->
<form #personalForm="ngForm" [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
    <div class="tab-pane active">
        <h4 class="font-medium-2 text-center">{{title}}</h4>
        <div class='row'>
            <div class='col-sm-3'>
                <div class="text-center">
                    <img src="/assets/images/vendor.png" height="190" />
                </div>
            </div>
            <div class='col-sm-9'>
                <div class='row'>
                    <div class='col-12'>
                        <div class="form-group col-8 offset-2 mt-4">
                            <label for="name">Vendor Name</label>
                            <input type="text" class="form-control" id="name" formControlName="name"
                                placeholder="ex. Miso Soupy">
                            <div *ngIf="personalDetailsForm.get('name').touched && personalDetailsForm.get('name').invalid"
                                class="alert alert-danger">
                                <div *ngIf=" personalDetailsForm.get('name').errors.required ">
                                    Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-4 offset-sm-2'>
                        <div class="form-group">
                            <div id="logo">
                                <h2>Add a Logo </h2>
                            </div>
                            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                                <ngx-dropzone-label>
                                    <div id="logo_text">
                                        <h3 style="color: #888;">Click here to Upload!</h3>
                                    </div>
                                    <div id="paco">
                                        <img [src]="vndr_logo" (error)="vndr_logo='/assets/images/paco.png'" />
                                    </div>
                                </ngx-dropzone-label>
                                <ngx-dropzone-image-preview class="ngx_img_upload" ngProjectAs="ngx-dropzone-preview"
                                    *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                    <ngx-dropzone-label class="ngx_lbl">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <div id="dish">
                                <h2>Add a Favorite Dish </h2>
                            </div>
                            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'"
                                (change)="onSelectfeathured($event)">
                                <ngx-dropzone-label>
                                    <div id="dish_text">
                                        <h3 style="color: #888;">Click here to Upload!</h3>
                                    </div>
                                    <div id="dishImg">
                                        <img [src]="vndr_dish" (error)="vndr_dish = '/assets/images/dish.jpg'" />
                                    </div>
                                </ngx-dropzone-label>
                                <ngx-dropzone-image-preview class="ngx_img_upload" ngProjectAs="ngx-dropzone-preview"
                                    *ngFor="let f of feathuredfiles" [file]="f" [removable]="true"
                                    (removed)="onRemovefeathured(f)">
                                    <ngx-dropzone-label class="ngx_lbl">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-12">
                <div class="form-group text-center">
                    <button uiSref="result" id="next" type="submit" class="btn btn-raised btn-info"
                        style="background: #34a6bf;color:#fff;"> Next </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Personal Tab Form Ends -->