#paco{
    position: relative;
    left: 40px;
    top: -10px;
    -webkit-filter: blur(1.5px); 
    filter: blur(1.5px);
}
#dishImg{
    position: relative;
    right: -40px;
    -webkit-filter: blur(1px); 
    filter: blur(1px);
}
#up {
    position: absolute;
    left: 199px;
    top: 59px;
    // left: 586px;
    // top: 102px;
    // right: 316px;
}
#upl {
    position: absolute;
    left: 272px;
    top: 100px;
    // left: 586px;
    // top: 102px;
    // right: 316px;
}
#logo {
    position: absolute;
    left: 302px;
    top: -34px;
    font-size: 2rem;
}
#logo_text {
    position: absolute;
    left: 219px;
    top: 70px;
}
#err{
    position: relative;
    top: -160x;
}
#dish {
    position: absolute;
    left: 302px;
    top: -35px;
    font-size: 2rem;
}
#dish_text {
    position: absolute;
    left: 190px;
    top: 70px;
}
.h2{
    position: absolute;
    left: 302px;
    top: -25px;
}
.h3{
    position: absolute;
    right: 372px; 
}
#next{
    position: absolute;
    left: -23px;
}
.custom-dropzone {
	height: 160px;
	color: rgb(70, 67, 67);
	// border: 5px dashed rgb(19, 15, 15);
	// border-radius: 5px;
	font-size: 20px;
}