<!-- Personal Tab Form Starts -->
<!-- class="editForm" novalidate -->
<form #personalForm="ngForm" [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
    <div class="tab-pane active">
        <h4 class="font-medium-2 text-center">{{title}}</h4>
        <br />
        <div class='row'>
            <div class='col-12'>
                <!-- <div class="row">
                    <div class='col-12 col-sm-6'>
                        <div class="form-group">
                            <label class="form-control-label" for="firstname">First Name</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn mr-0 btn-info" type="button">
                                        <i class=" icon-User"></i>
                                    </button>
                                </div>
                                <input class="form-control input-md" #firstname="ngModel" required id="firstname"
                                    name="firstname" type="text" [(ngModel)]="personal.first_name">
                            </div>
                            <small class="form-text text-muted danger"
                                *ngIf="!firstname.valid && (firstname.dirty || firstname.touched)">This field is
                                required!</small>
                        </div>
                    </div>
                    <div class='col-12 col-sm-6'>
                        <div class="form-group">
                            <label class="form-control-label" for="lastname">Last Name</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn mr-0 btn-info" type="button">
                                        <i class=" icon-User"></i>
                                    </button>
                                </div>
                                <input class="form-control input-md" #lastname="ngModel" required id="lastname"
                                    name="lastname" type="text" [(ngModel)]="personal.last_name">
                            </div>
                            <small class="form-text text-muted danger"
                                *ngIf="!lastname.valid && (lastname.dirty || lastname.touched)">This field is
                                required!</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class='col-12 col-sm-6'>
                        <div class="form-group">
                            <label class="form-control-label" for="email">Email</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn mr-0 btn-info" type="button">
                                        <i class="icon-Email"></i>
                                    </button>
                                </div>
                                <input class="form-control input-md" #email="ngModel" required email id="email"
                                    name="email" type="text" [(ngModel)]="personal.email">
                            </div>
                            <small class="form-text text-danger"
                                *ngIf="!email.valid && (email.dirty || email.touched)">Please enter a valid
                                email!</small>
                        </div>
                    </div> 
                    
                    <div class='col-12 col-sm-6'>
                        <div class="form-group">
                            <label class="form-control-label" for="password">Password</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn mr-0 btn-info" type="button">
                                        <i class="icon-Password-shopping"></i>
                                    </button>
                                </div>
                                <input class="form-control input-md" #password="ngModel" required id="password"
                                    name="password" type="password" [(ngModel)]="personal.password">
                            </div>
                            <small class="form-text text-muted danger"
                                *ngIf="!password.valid && (password.dirty || password.touched)">This field is
                                required!</small>
                        </div>
                    </div>  
                </div> -->
                <!-- <div class="row">
                    
                    <div class='col-12 col-sm-6'>
                        <div class="form-group">
                            <label class="form-control-label" for="company_name">Company Name</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn mr-0 btn-info" type="button">
                                        <i class=" icon-User"></i>
                                    </button>
                                </div>
                                <input class="form-control input-md" #company_name="ngModel" required id="company_name"
                                    name="company_name" type="text" [(ngModel)]="personal.company_name">
                            </div>

                            <small class="form-text text-muted danger"
                                *ngIf="!company_name.valid && (company_name.dirty || company_name.touched)">This field
                                is required!</small>
                        </div>
                    </div>
                    <div class='col-12 col-sm-6'>
                        <div class="form-group">
                            <label class="form-control-label" for="country_id">Country</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn mr-0 btn-info" type="button">
                                        <i class="icon-Global-Position"></i>
                                    </button>
                                </div>
                                <select class="form-control custom-select" data-placeholder="Choose a Country"
                                    #country_id="ngModel" tabindex="1" [(ngModel)]="personal.country_id"
                                    (change)="changeCountry($event)">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let item of countryList" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="text-center">
                    <img src="/assets/images/vendor.png" height="190"/>
                </div> 
              
                <div class="form-group col-4 offset-4 mt-4">
                    <!-- <button type="button" uiSref="work" class="btn btn-success btn-raised"
                        [disabled]="!personalForm.valid" (click)="save(personalForm)"> Next </button> -->
                    <!-- <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" formControlName="first_name" placeholder="">
                    <div *ngIf="personalDetailsForm.get('first_name').touched && personalDetailsForm.get('first_name').invalid" class="alert alert-danger">
                        <div  *ngIf=" personalDetailsForm.get('first_name').errors.required ">
                              Required
                            </div>
                          </div>
                          <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" formControlName="last_name" placeholder="">
                    <div *ngIf="personalDetailsForm.get('last_name').touched && personalDetailsForm.get('last_name').invalid" class="alert alert-danger">
                        <div  *ngIf=" personalDetailsForm.get('last_name').errors.required ">
                              Required
                            </div>
                          </div>
                          <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" formControlName="email" placeholder="">
                    <div *ngIf="personalDetailsForm.get('email').touched && personalDetailsForm.get('email').invalid" class="alert alert-danger">
                        <div  *ngIf=" personalDetailsForm.get('email').errors.required ">
                              Required
                            </div>
                          </div>
                          <label for="password">Password </label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="">
                    <div *ngIf="personalDetailsForm.get('password').touched && personalDetailsForm.get('password').invalid" class="alert alert-danger">
                        <div  *ngIf=" personalDetailsForm.get('password').errors.required ">
                              Required
                            </div>
                          </div> -->
                    <label for="company_name">Vendor Name</label>
                    <input type="text" class="form-control" id="company_name" formControlName="company_name" placeholder="">
                    <div *ngIf="personalDetailsForm.get('company_name').touched && personalDetailsForm.get('company_name').invalid" class="alert alert-danger">
                        <div  *ngIf=" personalDetailsForm.get('company_name').errors.required ">
                              Required
                            </div>
                          </div>
                          <!-- <label for="state_id">State</label>
                          <div class="input-group">
                            <select formControlName="state_id" class="form-control" (change)="getTerritory($event)">
                              <option *ngFor="let item of states" value="{{item.id}} , {{item.name}}">{{item.name}}</option>
                            </select>
                          </div> -->
                          <label for="territory_id">Territory</label>
                          <div class="input-group">
                            <select formControlName="territory_id" class="form-control">
                              <option *ngFor="let item of singleTerritory" value="{{item.id}}">{{item.city}}</option>
                            </select>
                          </div>
                    <!-- <label for="country_id">State</label>
                    <div class="input-group">
                      <select formControlName="country_id" class="form-control">
                        <option *ngFor="let item of countries" value="{{item.id}}">{{item.name}}</option>
                      </select>
                    </div> -->
                    <!-- <label for="territory">Select Location</label>
                    <div class="form-group mapmarker">
                      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [style.height.px]="300"
                        (mapClick)="placeMarker($event)">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>
                    </div>
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map> -->
                    <!-- <button type="button" uiSref="work" class="mt-3 btn btn-raised"
                        (click)="save()" style="background: #34a6bf;color:#fff;"> Next </button>     -->
                    <!-- <label for="distance_range">Distance Range</label>
                    <input type="text" class="form-control" id="distance_range" formControlName="distance_range" placeholder="">
                    <div *ngIf="personalDetailsForm.get('distance_range').touched && personalDetailsForm.get('distance_range').invalid" class="alert alert-danger">
                        <div  *ngIf=" personalDetailsForm.get('distance_range').errors.required ">
                              Required
                            </div>
                          </div> -->
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-2 offset-sm-4'>
                <div class="form-group">
                    <!-- <label class="form-control-label" id="logo" for="street">Add a Logo </label>  
                   <ngx-dropzone (change)="onSelect($event)">
                      <div>
                          <img src="/assets/images/paco.png" />
                      </div>
                      <div id="upl">
                          <ngx-dropzone-label >Click here to Upload!</ngx-dropzone-label></div>
                          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                          </ngx-dropzone-preview>
                    </ngx-dropzone>  -->
                                  <div id="logo">
                                      <h2>Add a Logo </h2>
                                    </div>
                                      <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                                        <ngx-dropzone-label>
                                            <div id="logo_text">
                                                <h3>Click here to Upload!</h3>
                                              </div>
                                              <div id="paco">
                                                  <img src="/assets/images/paco.png" />
                                                </div>
                                        </ngx-dropzone-label>
                                        <ngx-dropzone-image-preview class="ngx_img_upload" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                          <ngx-dropzone-label class="ngx_lbl">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-image-preview>
                                      </div>
                    <!-- <div style="display: inline !important;" >
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" style="display: inline !important;">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </div> -->
                </div>   
            </div>
            <div class='col-sm-2'>
                 <div class="form-group">
                    <div id="dish">
                        <h2>Favorite Dish </h2>
                      </div> 
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelectfeathured($event)">
                      <ngx-dropzone-label>
                          <div id="dish_text">
                              <h3>Click here to Upload!</h3>
                          </div>
                          <div id="dishImg">
                              <img src="/assets/images/dish.jpg" />
                            </div>
                      </ngx-dropzone-label>
                      <ngx-dropzone-image-preview class="ngx_img_upload" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of feathuredfiles" [file]="f" [removable]="true" (removed)="onRemovefeathured(f)">
                        <ngx-dropzone-label class="ngx_lbl">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </div>
                    <!-- <ngx-dropzone (change)="onSelectfeathured($event)">
                        <div>
                            <img src="/assets/images/dish.jpg" />
                        </div>
                        <div id="up">
                            <ngx-dropzone-label>Click here to Upload!</ngx-dropzone-label></div>
                        <ngx-dropzone-preview *ngFor="let f of feathuredfiles" [removable]="true" (removed)="onRemovefeathured(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>                        
                      </ngx-dropzone> -->
                    <!-- <div style="display: inline !important;" >
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" style="display: inline !important;">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </div> -->
                </div>  
            </div>
        </div>  
        <div class='row'>
            <div class="col-md-12">
                <div class="form-group text-center">
                        <!-- (click)="save()" type="button" -->
                    <!-- <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()">Previous</button> -->
                    <button uiSref="result" id="next" type="submit" class="btn btn-raised btn-info"  style="background: #34a6bf;color:#fff;"> Next </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Personal Tab Form Ends -->