<form #scheduleForm="ngForm" [formGroup]="scheduleFormData" (ngSubmit)="onSubmit()">
    <div>
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <small class="form-text text-muted text-center">(Schedule, Hours, Facebook, Business Address)</small>
            <div class="form-group col-4 offset-4 mt-4">
                <div class="input-group mb-3">
                    <img src="assets/images/facebook icon.png" width="50" height="60">
                </div>
                <label class="orm-control-label">Facebook URL</label>
                <input class="form-control" formControlName="facebook"
                    placeholder="https://www.facebook.com/machotacos">
                <br>
                <label class="orm-control-label">Schedule</label>
                <div formArrayName="arr" *ngFor="let a of scheduleFormData.get('arr')['controls'] ; let i = index">
                    <div class="day" (click)="weekday($event)" formGroupName="schedule">
                        <input type="checkbox" [checked]="days.indexOf('0') >= 0" name="Button0{{i}}"
                            class="ButtonState" id="Button0{{i}}" value="0" />
                        <label class="Button" for="Button0{{i}}">Mon</label>
                        <input type="checkbox" [checked]="days.indexOf('1') >= 0" name="Button1{{i}}"
                            class="ButtonState" id="Button1{{i}}" value="1" />
                        <label class="Button" for="Button1{{i}}">Tue</label>
                        <input type="checkbox" [checked]="days.indexOf('2') >= 0" name="Button2{{i}}"
                            class="ButtonState" id="Button2{{i}}" value="2" />
                        <label class="Button" for="Button2{{i}}">Wed</label>
                        <input type="checkbox" [checked]="days.indexOf('3') >= 0" name="Button3{{i}}"
                            class="ButtonState" id="Button3{{i}}" value="3" />
                        <label class="Button" for="Button3{{i}}">Thu</label>
                        <input type="checkbox" [checked]="days.indexOf('4') >= 0" name="Button4{{i}}"
                            class="ButtonState" id="Button4{{i}}" value="4" />
                        <label class="Button" for="Button4{{i}}">Fri</label>
                        <input type="checkbox" [checked]="days.indexOf('5') >= 0" name="Button5{{i}}"
                            class="ButtonState" id="Button5{{i}}" value="5" />
                        <label class="Button" for="Button5{{i}}">Sat</label>
                        <input type="checkbox" [checked]="days.indexOf('6') >= 0" name="Button6{{i}}"
                            class="ButtonState" id="Button6{{i}}" value="6" />
                        <label class="Button" for="Button6{{i}}">Sun</label>
                    </div>
                    <br>
                    <label class="form-control-label">Hours of Operation</label>
                    <!-- <div class="row" style="margin-top: 1rem;" (change)="getHours($event)">
                    </div> -->
                    <div class="row">
                        <div>
                            <select style="width: auto; margin-left: 10px;" class="form-control" [(ngModel)]="hoursFrom"
                                [ngModelOptions]="{standalone: true}">
                                <option value="0" selected hidden>From</option>
                                <option [value]="type" *ngFor="let type of startTimeArray">
                                    {{type}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-1 text-center mt-2">-</div>
                        <div>
                            <select style="width: auto;" class="form-control" [(ngModel)]="hoursTo"
                                [ngModelOptions]="{standalone: true}">
                                <option value="0" selected hidden>To</option>
                                <option [value]="type" *ngFor="let type of startTimeArray">
                                    {{type}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <label class="form-control-label" for="telegram">Telegram</label>
                <div class="text-center" (click)="routeToTelegram()">
                    <div class="col-sm-3 offset-sm-1">
                        <div class="text-ellipsis hovered_tip" style="position: relative" placement="right"
                            container="body">
                            <img id="telegramImg" src="/assets/images/telegram.png" />
                            <div class="custom_tip">
                                <p>Step 1: Login/Register in Telegram.</p>
                                <p>Step 2: Create a New Message and Search for UserInfoBot.</p>
                                <br>
                                <p>Note: The bot will respond with your Telegram ID, First and Last Name
                                    Please Save the Telegram ID below. The Telegram ID will be used to respond to
                                    customer requests over Telegram Support Chat. This can be a shared account that
                                    multiple people use. </p>
                                <!-- <p>Step 3: Sign Up and Register your Telegram Account</p> -->
                                <!-- <p>Step 4: Search @BotFather for create a bot</p>
                                <p>Step 5: /newbot and provied bot name and the handle name</p>
                                <p>Step 6: Add the token provied by BotFather</p> -->
                                <!-- <p>Step 4: Search @Botfather</p>
                                <p>Step 5: Type /newbot and “Name Your Bot” (Jaunna Taco Support, etc.)</p>
                                <p>Step 6: Search User Info Bot (or @User Info Bot) and copy your Bot Access token
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <label class="form-control-label" for="telegram_id">Provide your Telegram ID below:</label>
                    <input class="form-control" formControlName="telegram_id" type="text">
                    <br>
                    <button type="button" class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff;"
                        (click)="addGroupName()" hidden>Create Group</button>
                    <br>
                </div>
                <br>
                <button uiSref="personal" type="button" class="mt-3 btn btn-raised btn-secondary mr-1"
                    (click)="cancel()"> Previous</button>
                <button uiSref="address" type="submit" class="btn btn-raised btn-info mt-3"
                    style="background: #34a6bf;color:#fff;"> Save </button>
            </div>
        </div>
    </div>
</form>