
<form #scheduleForm="ngForm" [formGroup]="scheduleFormData" (ngSubmit)="onSubmit()">
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <small class="form-text text-muted text-center">(Schedule, Hours, Facebook, Business Address)</small>
            <br/>
            <!-- <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="schedule">Schedule</label>  
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn mr-0 btn-info" type="button">
                                    <i class="icon-Clock"></i>
                                </button>
                            </div>
                        <input class="form-control input-md" #googleapikey="ngModel" required id="schedule" name="schedule" type="text"  [(ngModel)]="schedule">   
                        </div>
                    </div>
                </div>
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="hours">Hours</label>  
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn mr-0 btn-info" type="button">
                                    <i class="icon-Clock"></i>
                                </button>
                            </div>
                        <input class="form-control input-md" #googleapikey="ngModel" required id="hours" name="hours" type="text"  [(ngModel)]="hours">   
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="facebook">Facebook</label>  
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn mr-0 btn-info" type="button">
                                    <i class="icon-Facebook"></i>
                                </button>
                            </div>
                        <input class="form-control input-md" #googleapikey="ngModel" required id="facebook" name="facebook" type="text"  [(ngModel)]="facebook">   
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="text-center">
                <img src="/assets/images/business.png" />
            </div> -->          
            <div class="form-group col-4 offset-4 mt-4">
                    <div class="input-group mb-3">
                            <!-- <img src="/assets/images/fb.png" /> -->
                            <img src="assets/images/facebook icon.png" width="50" height="60">
                            <!-- <button type="button" class="btn btn-fb" (click)="routeToFb()"><i class="fab fa-facebook-f pr-1"></i> Facebook</button> -->
                        </div>
                <input class="form-control"  formControlName="facebook" placeholder="https://www.facebook.com/machotacos">
                <!-- <div formArrayName="arr" *ngFor="let a of scheduleFormData.get('arr')['controls'] ; let i = index"> -->
                       <br>
                        <label  class="orm-control-label">Schedule</label>
            <div formArrayName="arr" *ngFor="let a of scheduleFormData.get('arr')['controls'] ; let i = index">
                    <!-- <div [formGroupName]="i" style="margin-bottom: 10px;"> -->
                            <div class="day" (click)="weekday($event)"  formGroupName="schedule">
                                    <input type="checkbox" name="Button0{{i}}"  class="ButtonState" id="Button0{{i}}" value="0"/>
                                    <label class="Button" for="Button0{{i}}">Mon</label>
                                    <input type="checkbox" name="Button1{{i}}"  class="ButtonState" id="Button1{{i}}" value="1"/>
                                    <label class="Button" for="Button1{{i}}">Tue</label>
                                    <input type="checkbox" name="Button2{{i}}"  class="ButtonState" id="Button2{{i}}" value="2"/>
                                    <label class="Button" for="Button2{{i}}">Wed</label>
                                    <input type="checkbox" name="Button3{{i}}"  class="ButtonState" id="Button3{{i}}" value="3"/>
                                    <label class="Button" for="Button3{{i}}">Thu</label>
                                    <input type="checkbox" name="Button4{{i}}"  class="ButtonState"  id="Button4{{i}}" value="4"/>
                                    <label class="Button" for="Button4{{i}}">Fri</label>
                                    <input type="checkbox" name="Button5{{i}}"  class="ButtonState" id="Button5{{i}}" value="5"/>
                                    <label class="Button" for="Button5{{i}}">Sat</label>
                                    <input type="checkbox" name="Button6{{i}}"  class="ButtonState"  id="Button6{{i}}" />
                                    <label class="Button"   for="Button6{{i}}">Sun</label>
                                </div>
                      <br>
                      <label  class="form-control-label">Hours of Operation</label>
                      <!-- <label  class="orm-control-label" for="hours">Time</label> -->
                      <!-- <input class="form-control form-control-sm" (change)="getHours($event)" style="border-color:#22c6ab;"  formControlName="hours" type="text" placeholder="Ex: 8:00 AM - 10 PM"> -->
                      <div class="row" style="margin-top: 1rem;" (change)="getHours($event)">
                          <!-- <div class="col-md-5">
                              <label style="display: block;margin: 0" for="">From</label>
                              <select name="my-dropdown" style="width:100px;" [(ngModel)]="myDropdownModel">
                                    <option *ngFor="let number of numbers" [ngValue]="number">{{number}}</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label style="display: block;margin: 0" for="">To</label>
                                <select name="my-dropdown" style="width:100px;" [(ngModel)]="myDropdownModel">
                                        <option *ngFor="let number of numbers" [ngValue]="number">{{number}}</option>
                                    </select>
                              </div> -->
                      </div>
                              <div class="row">
                                  <div class="col-md-4">
                                        <select class="form-control"
                                        (change)="onSelect($event.target.value)">
                                        <option value="0" selected hidden>From</option>
                                        <option [value]="type" *ngFor="let type of startTimeArray">
                                          {{type}}
                                        </option>
                                      </select>
                                  </div> 
                                  <div class="col-md-1 text-center">
                                      -
                                  </div>
                                  <div class="col-md-4">
                                  <select class="form-control"
                                    (change)="onSelect($event.target.value)">
                                    <option value="0" selected hidden>To</option>
                                    <option [value]="type" *ngFor="let type of startTimeArray">
                                      {{type}}
                                    </option>
                                  </select>
                                  </div>
                              </div>
                        
                      <!-- <label class="form-control-label" for="hours" >Time</label>
                      <input class="form-control form-control-sm" id="hours" formControlName="hours" placeholder="Ex: 8:00 AM - 10 PM"> -->
                    <!-- </div> -->
                  <br>
                    <!-- <button type="button" class="btn btn-link" style="color:blue;" (click)="addItem()">Add Hours</button> -->
                </div>
                  <!-- <button type="button" (click)="addItem()" style="margin-right: 5px;">Add</button> -->
                  <!-- <button type="button" class="btn btn-link" (click)="addItem()">Add Hours</button>
                  <br> -->
            <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn mr-0 btn-info" type="button" style="background: #34a6bf;color:#fff;">
                            <i class="icon-Clock"></i>
                        </button>
                    </div>
                <input class="form-control input-md" id="schedule" name="schedule" type="text">   
                </div>  --> 
                <!-- <label class="form-control-label" for="hours">Hours:  10 am – 8 pm</label> -->

                <!-- <div class="input-group mb-3"> -->
                    <!-- <div class="input-group-prepend">
                        <button class="btn mr-0 btn-info" type="button" style="background: #34a6bf;color:#fff;">
                            <i class="icon-Clock"></i>
                        </button>
                    </div>
                <input class="form-control" id="hours" name="hours" type="text">    -->
                <!-- </div> -->
                <br>
                <label class="form-control-label" for="telegram">Telegram</label>
                <div class="text-center" (click)="routeToTelegram()">
                     <div class="col-sm-3 offset-sm-1">
                            <div class="text-ellipsis hovered_tip"  style="position: relative"
                            placement="right" container="body">
                            <img id="telegramImg" src="/assets/images/telegram.png" />
                            <div class="custom_tip">
                                <p>Step 1: Download the Telegram App.</p>
                                <p>Step 2: Open the Telegram App.</p>
                                <p>Step 3: Sign Up and Register your Telegram Account</p>
                            </div>
                            </div>
                        </div>
                 </div>
                <div>
                    <br>
                    <label class="form-control-label" for="telegram_id">Provide your Telegram ID below:</label>
                    <!-- <input class="form-control form-control-sm" formControlName="group_name" type="text"> -->
                        <input class="form-control form-control-sm" formControlName="telegram_id" type="text">
                        <!-- <button type="button" class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff;" (change)="saveTelegram_id()">Save</button> -->
                        <br>
                    <br>
                      <label class="form-control-label" for="group_name">Choose Group Name</label>
                      <!-- <input class="form-control form-control-sm" formControlName="group_name" type="text"> -->
                      <input class="form-control form-control-sm" formControlName="group_name" type="text">
                      <button type="button" class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff;" (change)="addGroupName()">Create Group</button>
                    <br>
                </div>
                <br>
                <!-- <form [formGroup]="foodParkForm" (ngSubmit)="onTelegramClick()">
                       
                        <label for="state">State</label>
                        <div class="input-group">
                          <select formControlName="state_id" class="form-control" (change)="getTerritory($event)">
                            <option *ngFor="let item of states.state" value="{{item.id}}">{{item.name}}</option>
                          </select>
                        </div>         
                </form> -->
                <!-- <label class="form-control-label" for="description">Business Address</label>  
                <textarea rows="" class="form-control form-control-line" class="form-control input-md" id="description" name="description"></textarea> -->
                <button uiSref="personal" type="button" class="mt-3 btn btn-raised btn-secondary mr-1" (click)="cancel()"> Previous</button>
                <!-- <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save()"> Next </button> -->
                <button uiSref="address" type="submit" class="btn btn-raised btn-info mt-3" style="background: #34a6bf;color:#fff;" > Save </button>
            </div>
        </div>
    </div>
</form>



<!-- <form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_api_key">Google Api Key</label>  
                        <input class="form-control input-md" #googleapikey="ngModel" required id="google_api_key" name="google_api_key" type="text"  [(ngModel)]="google_api_key">   
                    </div>
                </div>
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_url">Google Sheet URL</label>  
                        <input class="form-control input-md" #googlesheeturl="ngModel" required id="google_sheet_url" name="google_sheet_url" type="text"  [(ngModel)]="google_sheet_url">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_tab_name">Google Api Key</label>  
                        <input class="form-control input-md" #googlsheettabname="ngModel" required id="google_sheet_tab_name" name="google_sheet_tab_name" type="text"  [(ngModel)]="google_sheet_tab_name">   
                    </div>
                </div>
            </div>
            <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()"> Previous</button>
                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next </button>
            </div>
        </div>
    </div>
</form> -->



<!-- <form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_api_key">Google Api Key</label>  
                        <input class="form-control input-md" #googleapikey="ngModel" required id="google_api_key" name="google_api_key" type="text"  [(ngModel)]="google_api_key">   
                        <small class="form-text text-muted danger" *ngIf="!google_api_key.valid && (google_api_key.dirty || google_api_key.touched)">This field is required!</small>
                    </div>
                </div>
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_url">Google Sheet URL</label>  
                        <input class="form-control input-md" #googlesheeturl="ngModel" required id="google_sheet_url" name="google_sheet_url" type="text"  [(ngModel)]="google_sheet_url">
                        <small class="form-text text-muted danger" *ngIf="!google_sheet_url.valid && (google_sheet_url.dirty || google_sheet_url.touched)">This field is required!</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-12 col-sm-6'>
                    <div class="form-group">
                        <label class="form-control-label" for="google_sheet_tab_name">Google Api Key</label>  
                        <input class="form-control input-md" #googlsheettabname="ngModel" required id="google_sheet_tab_name" name="google_sheet_tab_name" type="text"  [(ngModel)]="google_sheet_tab_name">   
                        <small class="form-text text-muted danger" *ngIf="!google_sheet_tab_name.valid && (google_sheet_tab_name.dirty || google_sheet_tab_name.touched)">This field is required!</small>
                    </div>
                </div>
            </div>
            <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()"> Previous</button>
                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next </button>
            </div>
        </div>
    </div>
</form> -->